# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HorrorStory.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Desktop\Projects\Repo-HorrorStory\game-HorrorStory\HorrorStory\HorrorStory\.idea\.idea.HorrorStory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
